/* QUELLEN */
/* https://www.onlinewebfonts.com/download/629a55a7e793da068dc580d184cc0e31 */
/* https://www.onlinewebfonts.com/download/50145685042b4df07a1fd19957275b81 */
/* https://www.onlinewebfonts.com/download/192d0c5e62b025b63cc62bfe0817e395 */

@charset "UTF-8";

/* Open Sans */
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/opensans/@font-face/629a55a7e793da068dc580d184cc0e31.eot"); /* IE9*/
  src: local(''),
  url("../fonts/opensans/@font-face/629a55a7e793da068dc580d184cc0e31.eot") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/opensans/@font-face/629a55a7e793da068dc580d184cc0e31.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/opensans/@font-face/629a55a7e793da068dc580d184cc0e31.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/opensans/Open\ Sans.svg") format("svg"); /* iOS 4.1- */
}


@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/opensans_bold/@font-face/50145685042b4df07a1fd19957275b81.eot"); /* IE9*/
  src: local(''),
  url("../fonts/opensans_bold/@font-face/50145685042b4df07a1fd19957275b81.eot") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/opensans_bold/@font-face/50145685042b4df07a1fd19957275b81.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/opensans_bold/@font-face/50145685042b4df07a1fd19957275b81.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/opensans_bold/Open\ Sans\ Bold.svg") format("svg"); /* iOS 4.1- */
}


/* Palatino */
@font-face {
    font-family: "Palatino Bold";
    src: url("192d0c5e62b025b63cc62bfe0817e395.eot"); /* IE9*/
    src: local(''),
    url("../fonts/palatino/@font-face/192d0c5e62b025b63cc62bfe0817e395.eot") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/palatino/Palatino\ Bold.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/palatino/@font-face/192d0c5e62b025b63cc62bfe0817e395.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/palatino/@font-face/") format("svg"); /* iOS 4.1- */
}
