
/************************** HEADER **************************

/******* logo *******/
.navbar-brand  {
    display: block;
    width: calc(200px + 4rem);
    overflow: hidden;
    position: relative;
    margin-left: 4rem;
    }
    .navbar-brand img {
      width: 200px;
      height: auto;
      transition: all 0.2s linear;
    }
    
    .scrolled .navbar-brand img {
      width: 120px;
    }
    
    .scrolled .navbar-brand {
      width: calc(120px + 4rem);
    }
    
    .navbar-brand-unscrolled {
      opacity: 1;
      position: relative;
    }
    
    .scrolled .navbar-brand-unscrolled {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    }
    
    .navbar-brand-scrolled {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .scrolled .navbar-brand-scrolled {
      opacity: 1;
      position: relative;
    }
    
    
    /******* menu *******/
    .header-holder {
        width: 100%;
        background-color: #ffffff;
        z-index: 16;
        overflow: hidden;
        height: 25vh;
    }
    
    .header-holder.scrolled:not(.menu-open){
      box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
      height: 15vh;
    }
    
    .header-holder.menu-open img{
      transition-property: none;
    }
    
    header {
      display: flex;
      align-items: center;
    }
    
    /* navigations punkten */
    .header-nav {
      order: 2;
    }
      
    .header-nav {
      display: none; 
    }
    .bg_img_nav{
      position: absolute;
      width: 25%;
    }
    
    .bg_img_nav_right{
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      width: 10%;
    }
    
    .header-nav.active {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #8d634b;
      z-index: 10;
      opacity: 1;
      -webkit-transition: opacity 0.6s linear;
      transition: opacity 0.6s linear;
      background-repeat: no-repeat;
      background-size: contain;
    }
      
      .header-nav.active .header-nav__inner {
        display: -webkit-box;
        display: flex;
        align-items: center;
        height: 100%;
        overflow: auto;
      }
      
      nav.active ul {
        width: 100%;
        text-align: center;
        padding: 0;
        overflow: hidden;
        display: block;
      }
      
      nav.active ul li {
        padding: 1.5% 0;
      }
      
      nav ul {
        padding: 8px 0 0 0;
        display: flex;
      }
      
      nav ul li {
        padding: 0 0 0 13px;
        list-style: none;
      }
      
      nav ul li a {
        display: inline-block;
        font-family: "Palatino Bold";
        font-size: 2.5rem;
        line-height: 1rem;
        color: white;
        padding: 0;
        position: relative;
        text-decoration: none;
        transition: color .5s ease-in-out;
      }
      
      nav ul li a:hover {
        color: #553929;
        transition: color .3s ease-in-out;
      }
    
    /******* burger menu *******/
    .device-menu {
      position: fixed;
      width: 100%;
      z-index: 11;
      display: block;
      background-color: transparent;
    }
    
    .device-menu .device-menu__inner {
      width: 40px;
      height: 20px;
      position: absolute;
      display: block;
      position: absolute;
      /* top: 50px; */
      right: 0;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none; 
      margin-right: 8rem;
    }
    
    .device-menu:after{
      content: 'Menu';
      position: absolute;
      margin-left: 50px;
      text-decoration: none;
      color: #553929;
      font-family: 'Open Sans';
      font-size: 1rem;
      font-weight: 700;
      right: 0;
      padding-right: 4rem;
    }
    .device-menu.open:after{
      color: white;
    }
    
    .device-menu span { /* Burger menu striche*/
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: #553929;
      top: 5px;
      left: 0;
    }
    .device-menu.open span{
      background-color: #ffffff;
    }
    /****** burgermenu einstellungen ******/
    .device-menu span:nth-child(1) {
      top: 0;
      -webkit-transition: rotate, 0.3s;
      transition: rotate, 0.3s;
    }
    
    .device-menu span:nth-child(2) {
      top: 50%;
      width: 70%;
    }
    
    .device-menu span:nth-child(3) {
      top: 100%;
      -webkit-transition: rotate, 0.3s;
      transition: rotate, 0.3s;
    }
    
    .device-menu.open span:nth-child(1) {
      top: 10px;
      right: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    .device-menu.open span:nth-child(2) {
      opacity: 0;
    }
    
    .device-menu.open span:nth-child(3) {
      top: 10px;
      right: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    


  
/*********************** Responsive Design ***********************/
/*--------------------------------------------------------------*/


@media (max-width: 768px) { 

/* LOGO HEADER */

.navbar-brand {
  margin-left: 2rem;
}

.navbar-brand  {
width: calc(180px + 2rem);
margin-left: 2rem;
} 
.navbar-brand img {
  width: 180px;
}

.scrolled .navbar-brand img {
  width: 120px;
}

.scrolled .navbar-brand {
  width: calc(120px + 2rem);
} 

.device-menu:after {
  padding-right: 2rem;
}
.device-menu .device-menu__inner {
 margin-right: 6rem; 

}
.header-holder.scrolled:not(.menu-open) {
  height: 18vh;
}

nav.active ul li {
  padding: 2% 0;
}
.device-menu:after {
  padding-right: 2rem;
}
.device-menu .device-menu__inner {
  margin-right: 6rem;
}

}

@media (max-width:576px ) {

  /* HEADER */
  nav.active ul li {
      padding: 2.5% 0;
  }
  nav ul li a {
    font-size: 1.65em;
  }
  .device-menu .device-menu__inner {
    margin-right: 2rem;
  }
  .device-menu:after {
    content: '';
  }
/* LOGO HEADER */
  .navbar-brand {
    margin-left: 2rem;
}
.navbar-brand  {
  width: calc(150px + 2rem);
  margin-left: 2rem;
  }
  .navbar-brand img {
    width: 150px;
  }
  
  .scrolled .navbar-brand img {
    width: 100px;
  }
  
  .scrolled .navbar-brand {
    width: calc(100px + 2rem);
  } 
}
  